<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.applikey.mattermost">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ChooseServerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.LogInActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ChatListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ChooseTeamActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.RestorePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ChatActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.CreateChannelActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0c7675012470bd5f6ee23c7d90806bb92d1c4bd8"/>
    </application>

</manifest>
